[2012-03-19 22:33] mcepl opened #2 "Missing variable 'section'"
BTW, PyDev cmplains about missing variable section in this code (file tool.py):

[code]

[2012-03-19 23:03] #2 closed, assigned to nobody

[2012-07-09 15:55] mcepl opened #3 "Making tests working again"
[code]

[2012-07-09 16:30] mcepl opened #4 "Crash on start"
[code]

[2012-07-09 21:27] #3 closed, assigned to nobody

[2012-07-09 21:27] #4 closed, assigned to nobody

[2012-07-09 23:42] mcepl opened #5 "Make ./setup.py test working"
OK, so this time really a bit of improvement. `python3 setup.py test` command was not working before, not it works. Also a bit of cleanup of maxibps module.

[code]

[2012-07-16 07:41] #5 closed, assigned to nobody

[2013-11-01 11:49] petri opened #11 "Add support for registering plugins via entry points"
I've been planning to contribute to ofxstatement: I've written an utility similar to it that parses CSV output from two Finnish banks, Nordea and Osuuspankki.

There are two differences: it parses into a simple common dict structure rather than OFX, and it uses entry points for registering plugins.

Would you be willing to add support to ofxstatement for registering plugins via entry points? That

[2013-11-01 11:59] petri opened #12 "Remove unnecessary configuration - have plugins return unicode?"
Do I understand correctly that the configuration file is only used to register the character encodings to use with each plugin?

How about just having the plugins return unicode?

If the config file actually registers plugins via mapping of plugin name to python file or something, how about switching to using entry points instead? (see the other issue I submitted)

That way, development of plugins

[2013-11-02 12:00] petri opened #13 "Extra entry fields for the statement"
The account statements from two Finnish banks have fields for:
- Date of entry
- Date of valuation
- Amount
- Kind (type of entry, filled in by bank)
- Description (also filled in by bank)
- Account
- Payee/Recipient
- Reference (given by payee, a number)
- Message (given by payee, if there's no reference)
- Identifier (set by bank)

Can all these be handled in ofxstatement?

[2013-11-02 19:33] #11 closed, assigned to kedder

[2013-11-03 15:32] #12 closed, assigned to kedder

[2013-11-03 20:20] petri opened #14 "Add a custom exception class for signaling a parse error"
Would be useful for handling cases when the file is malformed, or perhaps the bank has changed format (has happened several times within a few years with certain Finnish banks).

[2013-11-03 20:47] #14 closed, assigned to nobody

[2013-11-04 09:51] petri opened #15 "Add utility to render the OFX file to HTML"
I could not find such a utility, so I put together a XSLT transformation for debugging the OFX generated by ofxstatement from the input from the plugins I'm converting.

See here: https://gist.github.com/petri/7300330

Feel free to include in the project if you like. I will very likely improve it further; just wanted to contribute now that it's somewhat useful already.

It might be nice to add a c

[2013-11-04 10:15] petri opened #16 "Support batch operation"
It would be useful if one could convert a whole bunch exported CSV files in one shot; optionally combining the parsed statements/entries into a single OFX file.

[2013-11-04 14:13] petri opened #17 "New plugin for the Finnish Osuuspankki bank"
At github:

https://github.com/koodaamo/banking.statements.osuuspankki

No PyPI release yet; I want to run this through all my CSV files to make sure I have not missed some obscure CSV variation not yet handled by the parser.

[2013-11-04 16:02] #17 closed, assigned to nobody

[2013-11-05 11:33] petri opened #18 "New plugin: Nordea"
Available at: https://github.com/koodaamo/banking.statements.nordea

No PyPI release yet.

[2013-11-05 16:11] petri opened #19 "Management of custom StatementLine attributes"
Besides the OFX export, one benefit of ofxstatement is the common API it provides for reading the account statements.

There may be use cases where this API is useful, even though OFX export is not used. For example my use case requires access to the original transaction type labels set by banks, rather than the restricted subset of common types OFX offers. There may be other similar use cases as

[2013-11-05 20:19] #18 closed, assigned to nobody

[2013-11-05 20:54] #13 closed, assigned to kedder

[2013-11-10 13:07] #19 closed, assigned to nobody

[2013-11-14 08:48] MirkoDziadzka opened #20 "New plugin for bank 1822direkt.com"
Hi

I wrote a plugin for the German bank 1822direk.com
You can find it here: https://github.com/MirkoDziadzka/ofxstatement-1822direkt

[2013-11-14 09:05] #20 closed, assigned to nobody

[2014-11-11 23:13] itsjohncs opened #25 "Add terms of use."
I'm not sure of the copyright laws in your country but they are cumbersome in the US. Would you be willing to add a specific license to the code? If you meant for this to exist in the public domain, maybe you'd like the [Unlicense](http://unlicense.org/)? There is also the [MIT license](http://opensource.org/licenses/MIT) that requires attributing you (so no one can steal credit for the project le

[2014-11-12 06:50] #25 closed, assigned to nobody

[2015-06-28 17:34] terokorp opened #27 "plugin is outdated"
Plugin banking.statements.osuuspankki is outdated and dosen't work, but it has one fork which works fine. https://github.com/vukk/banking.statements.osuuspankki
Would it be better to put to plugins list instead of that broken one?

[2015-06-29 12:29] petri commented on #27
Issue reports and pull requests welcome. (I am the author of b.s.o.)

[2015-07-06 11:17] terokorp commented on #27
I'm just user who tried to use b.s.o and got weird errors. I pinpointed problem to transaction type maping and then find out that someone has already fixed those problems.
( https://github.com/vukk/banking.statements.osuuspankki/commit/76b942e7c71403981841323884e83e120d6f1ffc )
So, link to working version is on my first comment and that is not my repo and I don't want to send pull reuqests from ot

[2015-07-06 15:34] petri commented on #27
Thats's all fine and dandy @terokorp, I understand. Can you submit a bug report to b.s.o? And @vukk, could you please submit a pull request after that?

[2015-07-14 23:36] vukk commented on #27
Since there is no issue raised at b.s.o yet, I'll note this here:
My fork removes functionality, namely the transaction types. Some (many?) consumers of ofx statements only support CREDIT/DEBIT types, so it's a good default. I think this is what is observed here.

But maybe the additional types should be made optional (e.g. config file) instead of fully removing them.

Also the fork code is untest

[2015-08-30 11:43] petri commented on #27
Thanks for explaining, @vukk. AFAIK, ofxstatement is not a tool for ONLY GnuCash, and multiple transaction types (there are almost twenty) are part of the OFX standard. The types are very useful and outright absolutely needed for some other use cases. Therefore, removing functionality is NOT an option in my opinion and this issue here reported by @terokorp should be closed as invalid.

However, I

[2015-08-30 11:55] petri opened #28 "Add compatibility mode (case GnuCash)"
Apparently, GnuCash only supports CREDIT / DEBIT transaction types, while the modern OFX standard specifies a whole bunch of them (seventeen, I counted - I wonder how many older versions of OFX have).

Should some sort of compatibility mode be added to ofxstatement? Or a version mode? Is it even feasible, given the plugins are by various different authors?

I think this merits investigation. Perha

[2015-08-30 11:57] petri commented on #27
I added #28 for this. Please let's continue the discussion there? (and close this issue)

[2015-08-31 20:46] kedder commented on #27
Hm, guys, do you think it would be reasonable to make the output configurable on `b.s.o` level, in similar way this plugin is configured: https://github.com/kedder/ofxstatement-lithuanian/blob/master/src/ofxstatement/plugins/danske.py#L47. That way user can ask the plugin to produce the output he wants (with the sensible default, of course).

Would it make both kinds of users happy (ones that use

[2015-09-06 11:15] Scotchy49 opened #29 "KeytradeBank plugin"
Hi,

I wrote a plugin for my bank in Belgium (KeytradeBank) which exports to CSV.
Here is the repo: https://github.com/Scotchy49/ofxstatement-be-keytrade
Feel free to include it in your plugins list!

[2015-09-07 07:32] petri commented on #27
Please see my suggestion at #28 ...

[2015-09-19 09:15] #29 closed

[2015-09-19 10:20] kedder commented on #27
(I'm not sure whether #28 is better place for this, but since discussion happens here, responding here as well)

@petri, I see some practical problems with this approach (ofxstatement core manages a list of all possible plugin "capabilities").

1. A capability, as you described it, is not just a boolean, it is an _interface_, that plugin promises to comply with. So ofxstatement suddenly have to do

[2015-09-19 11:37] petri commented on #27
I already suggested (see above) to continue this on #28 ... but:

My suggestion was meant to document the capabilities of plugins for the benefit of users of ofxstatement.

To rephrase, I did not mean to treat this as a matter of enforcing strict interface compliance - instead, more like a matter of documentation, really.

And perhaps I chose my words badly above when I spoke of "defining capabili

[2015-09-20 10:44] MirkoDziadzka commented on #27
Hi

I'm not sure if the existing plugins are really the right place for these features.

As I understand them, they are more about converting an arbitrary input to OFX. Some of them are doing filtering. For example, I contributed stuff to merge some lines on some credit card statements. This was probably not the right place to do this but the only place I could added this back then.

Maybe a bette

[2015-09-27 20:15] cmayes opened #30 "Betterment plugin"
Hi, there.  I've created a plugin for processing CSVs from Betterment (https://www.betterment.com/).  The repo is here: https://github.com/cmayes/ofxstatement-betterment

[2015-10-03 17:04] #30 closed

[2015-10-03 17:05] kedder commented on #30
Referenced it in README, thanks!

[2015-10-11 21:50] cmayes opened #31 "Plugin for Simple (the bank)"
I've created a plugin for the Simple (https://www.simple.com/) JSON financial statement format.  The plugin lives here: https://github.com/cmayes/ofxstatement-simple

[2016-01-17 20:25] gintsmurans opened #32 "Add plugin (Latvian banks)"
Just finished plugin for Swedbank and DNB banks here: https://github.com/gintsmurans/ofxstatement-latvian.

I will soon add http://www.citadele.lv/ too.

[2016-01-30 12:31] #32 closed

[2016-01-30 12:34] #31 closed

[2016-02-11 20:39] TheoMarescaux opened #34 "ING Belgium Plugin"
Hi there!

I've created a plugin to process CSVs from ING Belgium. It lives here: https://github.com/TheoMarescaux/ofxstatement-be-ing

Cheers,
Theo

[2016-04-22 08:50] kedder commented on #34
Hi Theo, added a link to README.txt, thanks!

Sorry, somehow missed your message, noticed only now.

[2016-04-22 08:50] #34 closed

[2016-05-17 02:20] iandees opened #42 "Support for generating multiple StatementLines per input line"
I'm interested in implementing a plugin for Stripe, but each CSV line in the "balance history" export from Stripe has the amount received as well as the Stripe fee. I'd like to return one `StatementLine` for the amount and a separate one for the fee. Unfortunately, it looks like the plugin API only allows for one `StatementLine` parsed per input line.

Is there a way around this? Any ideas for imp

[2016-05-17 07:20] kedder commented on #42
@iandees, the basic interface for parser is very simple: you only have to implement `__init__(fin)` and `parse()` function, i.e. you don't have to inherit from `StatementParser` class or use its helpers (targeted mainly to csv files). `parse()` function has to return `Statement` object and is free to do whatever it takes to parse `fin` file, passed to its constructor.

[2016-05-30 13:28] msusta opened #44 "ofxstatement-czech lost"
It seems that @mcepl deleted the repository with ofxstatement-czech. I guess you can remove the reference to it from README.MD.
Not sure what was the original motivation behind that. I've searched for sources and I found https://pypi.python.org/pypi/ofxstatement-czech.

[2016-05-30 13:36] mcepl commented on #44
Just moved repository to https://gitlab.com/mcepl/ofxstatement-czech, nothing else.

[2016-05-30 18:03] #44 closed

[2016-05-30 18:04] kedder commented on #44
@msusta, thanks for spotting, @mcepl thanks for the patch!

[2016-06-05 17:50] milankni opened #46 "ofxstatement edit-config fails when EDITOR includes binary & parameters"
Hi,

[code]
Removing "-w" from EDITOR works around the problem.

[2016-06-05 21:14] mcepl commented on #46
This is actually not a bug. Environmental variables are according to POSIX not supposed to be expanded, so it is absolutely correct that ofxstatement tries to run '/usr/bin/nano -w' (with space and dash in the name) executable and fails. If you want to have ``nowrap`` option set permanently, than I would advice to use ``~/.nanorc`` configuration files (see ``nanorc(5)`` manpage for more).

I would

[2016-06-10 11:12] KimchaC opened #47 "Multiple ofx from one statement"
Hi,

i am working on a paypal plugin, which supports multiple currencies. in order to do this, I would like to generate multiple OFX files for each currency that is used in the paypal csv.

The easiest way to implement it that I can think of is to allow
`p.get_parser(args.input)`

to return a list:
`[{'parser' : parserUSD, 'account' : 'USD'}, {'parser' : parserEUR, 'account' : 'EUR'}]`

convert ca

[2016-06-16 19:39] milankni commented on #46
Ok. I agree. Thanks for the hint.

[2016-06-16 19:39] #46 closed

[2016-11-23 09:19] petri opened #54 "release 0.6.0?"
I see there's been some few improvements and it's been a while, how about a new release? @kedder? I have new version of banking.statements.osuuspankki taking advantage of the new "BankAccount" feature ready, just waiting for a release before releasing it, too... :)

[2016-11-24 08:06] petri commented on #27
Please, @kedder can you close this so we can continue on #28? I changed its title to better reflect the issue at hand, and summarized what's been discussed here.

[2016-12-02 21:37] kedder commented on #54
Release 0.6.0 is out! Sorry for delay.

[2016-12-02 21:37] #54 closed

[2016-12-02 21:37] kedder commented on #27
Ok

[2016-12-02 21:37] #27 closed

[2016-12-13 22:24] SKelem opened #55 "ofxstatement installation causes problem for pip3"
After installing ofxstatement-0.6.0-py3.5, when I run any command with pip3, such as:
[code]

If I delete /usr/local/lib/python3.5/dist-packages/ofxstatement*, then "pip3 help" works properly.

[2017-01-18 18:33] Dagur opened #56 "New plugin for Arion bank in Iceland"
Located here https://github.com/Dagur/ofxstatement-is-arionbanki

Thanks!

[2017-02-15 10:03] GCamp6 opened #57 "Conversion issue"
After requesting ISO20022 account files I received xml file (and not csv). I installed postfinace and ISO20022 plugin and after running

`ofxstatement convert -t pf-bank-tab input.xml output.ofx`

I see on the terminal the reading of the file but at the end I get:

Is it possible to include a conversion from xml to csv(if that's the mistake)?

I tried to run the iso20022 plugin on the xml file but

[2017-02-18 18:27] kedder commented on #57
@GCamp6, thanks for the report.

To solve the problem, I need some way to reproduce it. Can you provide some sort of anonymized input file? If you don't want to expose your personal information, you can manually remove it from the file you have.

Is your file actually in ISO-20022 format? ISO-20022 files looks like

[code]

[2017-02-21 10:59] GCamp6 commented on #57
I asked on purpose the ISO20022 standard format and the bank sent me the xls file (here I can not upload xml, how can I add code text without filling all the page?)

the first lines are:

`<?xml version="1.0" encoding="UTF-8"?>
<Document xmlns="urn:iso:std:iso:20022:tech:xsd:camt.053.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<BkToCs

[2017-02-21 13:25] kedder commented on #57
You can paste the whole file on some paste board (e.g. https://dpaste.de/) and post a link it here.

[2017-02-21 15:14] GCamp6 commented on #57
That's my polished file:

[LinkAccount.xml](https://mega.nz/#!rUlx0LDS!CFNcg7OFHWH_tL92lfuSAJ4qQFEOxTDvD4fUylxQflI)

[2017-02-28 14:29] GCamp6 commented on #57
Any bug discovered?

[2017-03-01 20:58] kedder commented on #57
@GCamp6, sorry for delay. I was able to reproduce the problem and fix it. [ofxstatement-iso20022](https://pypi.python.org/pypi/ofxstatement-iso20022/0.2.0)-2.0 was released.

Please update `ofxstatement-iso20022` plugin and try on your real file. `pip3 install ofxstatement-iso20022 --upgrade` should work.

Let me know if something is not right.

[2017-03-02 08:41] GCamp6 commented on #57
Thanks a lot!
Now the conversion process is working.

Still some issues:

- when I import the new ofx file I see only a fewer number of items (5 out of 362 of the original xml file or 5 out of 7)
- the "amount" money column during the import procedure is empty (0.00)

[2017-03-02 20:02] kedder commented on #57
Hm, interesting. I'll look closer.

[2017-03-03 09:47] GCamp6 commented on #57
Strange thing:
I tried to convert the same xml file with ofxstatement-iso2022-0.2.0 but from my linux machine (mint 18.1) and not windows as previously. Everything ok but then, if I import the new ofx file into Gnucash, now I find that the number of item is correct (?!).
(at the end of the ofxstatement-iso20022 update process the outcome from the terminal was positive in both pc).

The dimensions

[2017-03-09 21:25] kedder commented on #57
Ok, I figured out what's wrong: the statement has no "currency" specified on account (even though there is a currency attribute on every statement line (assuming there can be separate currency for each line).

Since GnuCash doesn't work well with multi-currency statements (and you have to specify an account with defined currency when you import OFX file), the current approach is to generate a sepa

[2017-03-10 07:22] GCamp6 commented on #57
I see.
Actually, just to clarify, the xml file I uploaded had only one currency (CHF) and I tried to import it into a CHF account in GnuCash. In my GnuCash file there are both € and CHF accounts.

I assume having two plugins making the job wouldn't be an issue.

_PS: At the beginning I was using the postfinance pf-bank-tab plugin (my bank xml file) but did not work. Do you know why? Wouldn't it be

[2017-03-11 18:17] kedder commented on #57
I just uploaded version 0.3.1 of iso20022 plugin. I believe you should be able to import your statement now. To do this, edit your configuration with `ofxstatement edit-config` and put something like this there:

[code]

You can convert your CHF and EUR statements with these commands:

[code]

Make sure the currency of GnuCash account you are importing into matches currency of the OFX statement.

[2017-03-11 18:30] kedder commented on #56
Linked in README. Thanks @Dagur!

[2017-03-11 18:30] #56 closed

[2017-03-11 18:37] kedder commented on #55
I can't reproduce this on my machine, so I need a bit more info:

Can you show how the contents of `/usr/local/lib/python3.5/dist-packages/ofxstatement-0.6.0-py3.5-nspkg.pth`? What version of `pip3` do you have (`pip3 --version`)?

[2017-03-12 13:15] GCamp6 commented on #57
So I downloaded and updated the plugin.
(running from the terminal `pip3 install ofxstatement-iso20022 --upgrade` I get an error

)

With `ofxstatement --version` I get

I add with `ofxstatement edit-config`

[pf:chf]
plugin=iso20022
currency = CHF

[pf:eur]
plugin=iso20022
currency = EUR

and I have the config.ini file in the .config folder.

After running:
ofxstatement convert -t pf:chf input_ch

[2017-03-12 14:35] kedder commented on #57
Ok, the first issue seems to be similar to #55. Can you run `pip3 help` and show me contents of `ofxstatement-0.6.0-py3.5-nspkg.pth` file referenced in the error. If you can, please add comment on #55.

For the second issue: we need to make sure the file you are importing into GnuCash and account you select in GnuCash has the same currency. Does GnuCash offer you to select an account before you se

[2017-03-17 13:39] gerasiov opened #58 "Mention Debian/Ubuntu packages"
Please mention in README, that in Debian and Ubuntu distributions one can install ofxstatement from official repositories. Packages are named ofxstatement and ofxstatement-plugins:

https://packages.debian.org/search?keywords=ofxstatement
https://packages.debian.org/search?keywords=ofxstatement-plugins

http://packages.ubuntu.com/search?keywords=ofxstatement

[2017-03-18 18:15] #58 closed

[2017-03-18 18:16] kedder commented on #58
Wow, this is awesome! Thank you!

[2017-03-19 19:49] GCamp6 commented on #57
Sorry for the delay - I had a problem with the pc and I reinstalled the OS. Now I also re-installed pip3 and python3 and repeated the procedure to configure ofxstatement.

I managed to convert .xml and import the new .ofx file without problem and seems to be perfect. "Unfortunately" I solved the error without figuring out what the issue was. Apparently a problem related with wrong/incomplete pytho

[2017-05-01 22:19] themalkolm commented on #55
Ye, just hit it as well.

Seems like something changed between 3.4.6 and 3.5.3 in python world.

[code]

[code]

[2017-05-01 23:43] themalkolm commented on #55
So.. you have this error only when no ofxstatement plugins are installed. Installing one makes this error disappear.

[code]

[2017-05-07 19:56] kedder commented on #55
@themalkolm, thank you. I was able to repro and it is starting to make sense.

That `ofxstatement-0.6.0-py3.5-nspkg.pth` is referencing `'ofxstatement.plugins'` via `importlib.machinery.PathFinder.find_spec('ofxstatement.plugins' ...`. And that thing is apparently missing unless you install any plugin.

[2017-05-07 20:36] #55 closed

[2017-05-07 20:41] kedder commented on #55
ofxstatement-0.6.1 was released with the fix for this problem.

[2017-05-08 18:38] themalkolm commented on #55
👍

[2017-06-01 13:59] andrewshadura opened #59 "Add ISO20022 write support"
ISO20022, being a standard, is often the only format accepted by accounting software. Being able to generate ISO20022 would be a huge benefit, making it possible to use ofxstatement to convert from legacy formats.

[2017-06-01 14:45] andrewshadura opened #60 "Extend the statement model to include more statement-related metadata"
Statements often include all sorts of metadata, such as the address of the bank, the name and the address of the client, the statement ID/serial number and so on. While I am not sure OFX can represent all that information, it’d be great if the model could handle that, so software using ofstatement as a library, or potentially ISO20022 export code (see #59) could use that info.

[2017-06-02 16:48] andrewshadura commented on #59
I have implemented proof-of-concept ISO20022 writer, see [my iso20022 branch](/andrewshadura/ofxstatement/commits/iso20022). There are no changes to the UI, so the only way to test it at the moment is to replace OfxWriter with it.

[2017-06-02 18:35] kedder commented on #59
@andrewshadura, this looks iteresting. I think ofxstatement can support this output format, but I'm not sure the internal model (`Statement` and friends) are sufficient to generate a valid ISO-20022 markup (it was never intended for that).

What is your actual use case for this?

[2017-06-02 18:53] kedder commented on #60
We could add more fields as long as they are optional and plugins are not required to fill them in. It is desirable not to break existing plugins in any way. I'm not a expert in financial data structures and I'll need help from one to design a data model that is generic enough for diverse use cases.

Basically, I can imagine ofxstatement as a "generic financial format converter", but I'm not sure

[2017-06-02 19:50] andrewshadura commented on #59
My use case is converting non-standard legacy statement files my bank
provides into a standard interchange format. ISO20022 has been accepted as
a format to be used within SEPA zone, so I expect its usage to grow. In
particular, my accountant said, not sure how true that is, my bank is the
only bank in the country which doesn't support ISO20022 yet. And most
accounting software supports it too.

-

[2017-06-16 20:39] milankni commented on #42
@iandees - once done, would you share your code? I have a similar issue for two plugins and am not as skilled to easily do so myself.

[2017-06-16 20:48] archont00 opened #63 "Formatted human readable output.ofx"
Would it be possible to format the output.ofx with indents and new-lines? Like what "xmllint --format" does.

[code]
would be:
[code]
Easier to read and debug.

[2017-06-17 14:01] kedder commented on #63
Umm, probably. I usually use `ofxdump` to debug files though.

[2017-09-10 01:56] lopter opened #67 "Parser.parse_decimal shouldn't try to delocalize numbers"
Hello,

I noticed @andrewshadura ended up pulling that patch I wrote last year, which is really cool, thank you.

The reason why I didn't submit my pach back then was because, as Andrew noticed, (all) plugins need to be fixed, and I don't have a solution for that; but I wanna say that a [monorepo](https://danluu.com/monorepo/) approach would really help here, and I'm happy to talk about project ma

[2017-09-11 07:18] kedder commented on #67
Conceptually, I don't think `parse_amount` is better than `parse_float`: I'd expect all numbers in the statement to be formatted the same way, even if they do not represent "amount of money" kind of data. So we'd end up using `parse_amount` to parse all numbers, just like we do with `parse_float` now.

I like the ability to specify the locale for `parse_float`/`parse_decimal` though. Can we keep b

[2017-09-25 16:12] lopter commented on #67
Hello,

Sorry for the response time, will try to do better moving forward.

Conceptually, I think it's really just a super-set of `parse_float` that knows how to deal with localized numbers and currency signs. I also think that's an important difference of semantic and would keep the name `parse_amount`.

Because, I consider that existing code is broken at this point, I'm not sure if I'd call this

[2017-12-22 15:35] lopter commented on #67
Hello @kedder, if you had some time to ponder that, especially about breaking the API which I thinks is (unfortunately) the right thing to do here.

Happy holidays!

[2017-12-22 20:26] mcepl commented on #67
Just to say that I think monorepo is actually one of the worst ideas for an open source project.

For most (see the linked post) monorepo basically means “We don’t care about the API stability, or we don’t care about API at all”. Not surprisingly, the discussion about monorepo is here while discussing the breaking of API (whether in this particular situation it is a good idea or not is another poi

[2017-12-22 21:44] kedder commented on #67
Sorry guys, this got out of my loop completely.

First of all, I think we can make a compromise here, because I'd really hate to break the other plugins. They apparently work well for their authors and whoever uses them. Such a breaking change will not be seen as "improvement".

OTOH, I acknowledge the problem.

Can we declare `parse_float` and `parse_int` deprecated (but still working) and recomm

[2017-12-23 06:03] lopter commented on #67
Sure, I think it's still strictly better than what we have now anyway.

This analysis is 100% correct, it does make the project harder to work with for its maintainer/"owner", I'm definitely taking the PoV of an user and/or plugin contributor. From that PoV a monorepo has the following advantages:

- The plugin contributor doesn't have to publish a package, and just need to make a pull-request;
-

[2017-12-23 23:09] mcepl commented on #67
OTOH, we have known number of plugsin, haven't we? So, it should be possible just grep through all of them and make pull requests for all occurrences of parse_int/parse_float, shouldn't it?

[2017-12-23 23:44] mcepl commented on #67
OK, so I have created a [git repository](https://gitlab.com/mcepl/ofxstatement-plugins) collecting all known ofxstatement plugins (except for ofxstatement-postfinance, which has dead repository) and thus I could search through all plugins in one run and here are [results](https://github.com/kedder/ofxstatement/files/1584509/search_result.txt). It seems that plenty of plugins define their own ``par

[2017-12-24 13:19] gerasiov commented on #67
@mcepl https://github.com/gerasiov/ofxstatement-plugins =)

[2017-12-24 13:40] gerasiov commented on #67
Ah, those two from Petri Savolainen are incompatible with ofxstatement. They are GPLv2 only =(

[2017-12-26 20:19] kedder commented on #67
I did some assessment of what we ended up with in `parser.py`. We have `StatementParser` that provides some very trivial framework for parsing "line-based" statements, that users can subclass to save on boilerplate. It also includes a very trivial helpers for parsing dates and numbers. Recently we grew a more opinionated `parse_decimal`, that attempted to fix "badly formatted" numbers. Obviously,

[2018-01-02 23:03] renardeau opened #69 "Triodos plugin"
Hello,
I wrote a plugin to convert Triodos CSV files to ofx (based on the ofxstatement-sample project)
https://github.com/renardeau/ofxstatement-be-triodos
Feel free to add it to the known plugins list and thanks for this nice project
kr
Bernard

[2018-01-21 16:11] milankni commented on #42
@iandees - look at a possible solution here (line 138...)
https://github.com/milankni/ofxstatement-airbankcz/blob/b22d2db87f6cf4ba37adc15f2d6d6dd94f901b0e/src/ofxstatement/plugins/airbankcz.py

[2018-01-28 11:32] #69 closed

[2018-01-28 11:32] kedder commented on #69
Added, thanks for the plugin!

[2018-01-28 11:35] kedder commented on #42
Closing this, as this mode of operation is already supported, Overriding `parse()` allows to yield as many lines as needed.

[2018-01-28 11:35] #42 closed

[2018-01-28 11:37] kedder commented on #57
Closing this for now, if you still experience the issue feel free to reopen, I'll try to look closer.

[2018-01-28 11:37] #57 closed

[2018-03-14 14:39] omarkohl opened #71 "CsvStatementParser takes a file as input parameter that is never closed"
`CsvStatementParser.__init__()` takes a `fin` Parameter that is later used by `csv.reader` . In theory `fin` could be any iterable but in practice it will most likely be a file object created by calling `open()` .

Generally it is responsability of the `open()` caller to close the file after being done with it. The problem with ofxstatement is that the general workflow is to create a Plugin class

[2018-05-18 10:31] motin opened #74 "Re-license?"
Heyo! :)

I am a long-time open source contributor and promoter, and this project looks like a good base to to some substantial contributions on top of, but the use of GPL is making it impossible for me to use or contribute to the development of ofxstatement since not only do I do open source, I also sell my time as a programmer for other companies, and in those projects GPL is not an option.

Wil

[2018-05-18 20:44] gerasiov commented on #74
1. I should notice, that all 16 contributors should agree to license change.

2. I also work in proprietary projects and see no problems with this. Let's be honest, you mean "I want to sell ofxstatement as (part) of my proprietary software, please let me do this"?

[2018-05-18 20:55] motin commented on #74
1. Yes, we could tag them in this thread. Not sure what to do if someone does not answer/vote though - do you know proper procedure?
2. That'd be cool, but I have no proprietary software where I want to sell ofxstatement as part of. My  motives are rather:

* I want to include ofxstatement as (part) of my clients' proprietary softwares rather than developing similar code from scratch or use an inf

[2018-05-23 14:49] gerasiov commented on #74
Only clean room re-implementation.

You could do this following the simple rules:
* Use GPL licensed ofxstatement as separate binary.
* Claiming you use oxfstatement in your software package.
* Providing (e.g. by request) sources of ofxstatement under GPL you use to anyone who legally receive your software package.
(s/you/your customer/g)

GPL does not restrict this while you follow the requiremen

[2018-05-23 14:55] gerasiov commented on #74
I'm sorry if my comment was a little bit offensive. I just wanted to say that the only negative effect of GPL for you is inability to use it as a library. All other "problems" do not exist.

[2018-05-25 08:35] motin commented on #74
Thanks for a well-written and informative reply :)

This is no problem at all, since we already do this with MIT/BSD-licensed code (we always publish forks and create PRs where appropriate).

This is where the real problem lies. While it is true in theory, it is still [up to legal interpretation whether or not](https://opensource.stackexchange.com/a/2939) [the client's software's interaction with

[2018-07-10 02:49] Jacotsu opened #76 "IntesaSP plugin"
Hello i wrote this plugin that converts the Intesa San Paolo xlsx balance file to ofx format.
Feel free to add to the known plugin list (https://github.com/Jacotsu/ofxstatement-intesasp).

[2018-09-02 14:50] kjellmoens opened #77 "pip3 install ofxstatement-be-kbc not founding a matching distribution"
Hi,

Can you help me ?

I get this error :   Could not find a version that satisfies the requirement ofxstatement-be-kbc (from versions: )
No matching distribution found for ofxstatement-be-kbc

Thanks

[2018-11-01 17:20] jbbandos opened #81 "ING Belgium plugin updated"
Hello,
I've taken the plugin changes by Theo Marescaux, fixed them and have a working plugin to convert ING Belgium CSV files to OFX. It is in my repo https://github.com/jbbandos/ofxstatement-be-ing
I've tested the plugin generating files that can be imported into kmymoney with more data than the import kmymoney does from CVS.

[2018-11-01 17:21] jbbandos commented on #81
Forgot to add, feel free to add it to the plugins list.

[2018-11-02 08:36] cedricbousmanne opened #82 "AttributeError: module 'ofxstatement.plugins.alfabank' has no attribute 'AlfabankPlugin'"
I just installed ofxstatement to play around with, but i'm stuck with this error while running ``ofxstatement list-plugins``

[code]

[code]

Please let me know if you need additional information

[2018-11-04 18:06] kjellmoens opened #83 "Combine multiple fields in one memo field"
Hi,

I am writing a plugin for the KBC BE Mastercard but the transaction information is in 4 fields (Description, merchant, location, country). How can i combine them in one field, preferably the memo field ?

Thx

[2018-11-04 21:04] kedder commented on #82
Hi, ofxstatement doesn't support an older python 2.7. Try running it under python 3.

[2018-11-04 21:04] #82 closed

[2018-11-04 21:05] kedder commented on #83
Are you writing a plugin or trying to use one?

[2018-11-04 21:12] kedder commented on #81
Would you like to submit your changes as a pull request to @TheoMarescaux? Or would you rather take over maintenance of this plugin?

[2018-11-04 21:12] kjellmoens commented on #83
Hey,

I am trying to write a plugin and meanwhile I found it, so you can close
the issues or I will. Many thx for the prompt response

On Sun, 4 Nov 2018 at 22:05, Andrey Lebedev <notifications@github.com>
wrote:

--
Sent from my phone. Please forgive the brevity, the typos and the lack of
nuance.

[2018-11-04 21:14] kedder commented on #83
No problem! Feel free to reopen if you have any questions!

[2018-11-04 21:14] #83 closed

[2018-11-08 10:51] jbbandos commented on #81
I have submitted them as a pull request, but it seems that @TheoMarescaux is awol? I see no changes on his repository for some time, and no answers to issues and pull requests.
Maybe it is better if I take over it, at least until Theo returns.

[2018-11-08 11:41] TheoMarescaux commented on #81
Hi folks, I don't have time to follow this up. Feel free to support it.
Many thanks, Theo

On Thu, Nov 8, 2018 at 11:51 AM Bernardo Bandos <notifications@github.com>
wrote:

[2018-11-08 12:17] jbbandos commented on #81
Thanks Theo. How is it better to go forward with this, @kedder ?

[2018-11-08 12:30] kedder commented on #81
@jbbandos sounds good. I'll link to your project as soon as I get home. Thanks!

[2018-11-08 19:11] #81 closed

[2018-12-13 18:55] rkhwaja commented on #47
I would also like this for generating different OFX files for the escrow and loan accounts for house mortgages.

[2018-12-16 13:38] #76 closed

[2018-12-16 13:47] kedder commented on #77
Hi, sorry for untimely response, but the problem is likely to be solved now - the `ofxstatement-be-kbc` was released on pypi https://pypi.org/project/ofxstatement-be-kbc

[2018-12-16 13:47] #77 closed

[2018-12-16 15:17] kedder commented on #74
@motin, I can certainly agree that some organizations explicitly prohibit GPL (and other copyleft) software to be used by their own software. Because of uncertainty and doubt or "just in case", even though GPL imposes no restrictions on _using_ the software. That is understandable, but it is also very clear that if organization wants this kind of "insurance", it has to pay for reimplementation of

[2018-12-16 15:17] #74 closed

[2018-12-16 16:19] motin commented on #74
MIT/BSD: "shared it in case someone else would find it useful too"
GPL: "shared it in case someone else would find it useful too" + "be able to freely use all other software that builds upon it"

I have been around long enough to see so many people reason like this and never get anything out of it due to the GPL restrictions. There is even LGPL if you at least would be willing to allow for other p

[2019-08-05 20:25] ecorini opened #87 "new plugin: widiba and webank italian banks"
Hi i added a plugin for widiba and webank italian banks: https://github.com/ecorini/ofxstatement-it-banks

[2020-01-20 09:30] medovina opened #93 "release 0.6.2?"
Release 0.6.1 was in May 2017, over 2-1/2 years ago.  There have been some signfiicant and useful changes since that time, so could you possibly make a new release?

[2020-01-20 20:16] kedder commented on #93
Good idea! Even though not much is happening in ofxstatement itself (most of stuff goes into plugins), it is worth releasing what we have accumulated so far.

ofxstatemnt-0.6.2 is on pypi.

[2020-01-20 20:16] #93 closed

[2020-01-21 04:22] medovina commented on #93
Great - thanks for the quick reaction!

[2020-02-10 19:58] aGrimRepoMan opened #96 "Command "ofxstatement edit-config" fails on Windows, tool.edit_config assumes posix?"
Hi,

I ran into a traceback when running the "ofxstatement edit-config" command on Windows 10.  I suspect it's because the call to shlex.split() in edit_config() in module tool.py assumes a posix OS?  I have pasted the traceback further below. This was with ofxstatement release 0.6.2.

I was able to resolve the traceback and successfully edit a config file by privately changing line 93 in method e

[2020-02-11 16:19] BIZ4Africa opened #97 "New plugins for Trust Merchant Bank (DRC) and Stanbic Bank (Zambia)"
Trust Merchant Bank (DRC) : https://github.com/BIZ4Africa/ofxstatement-cd-tmb
Stanbic Bank (Zambia): https://github.com/BIZ4Africa/ofxstatement-zm-stanbic

[2020-02-11 22:04] kedder commented on #96
@aGrimRepoMan, thanks for digging into it! I haven't tested ofxstatement under windows (and actually never expected it to work), but if this is the only thing that was missing from it being functional, I'll happy to accept this change - it makes total sense.

I will change it to `posix=not os.name not in ['posix', 'mac'])` though. I'm not completely sure about 'mac', I'll have to find someone with

[2020-02-12 03:16] aGrimRepoMan commented on #96
@kedder, Much appreciated.   I haven't had any other problems running on Windows 10.

Thanks for sharing your work - I wish I'd stumbled on "ofxstatement" earlier!

[2020-02-13 21:41] #96 closed

[2020-02-13 21:47] #97 closed

[2020-02-13 21:47] kedder commented on #97
Included in README, thanks @BIZ4Africa!

[2020-02-13 21:51] kedder commented on #96
@aGrimRepoMan, ofxstatement 0.6.3 is out, thanks again for the fix and have fun!

[2020-03-04 15:06] kedder commented on #96
Unfortunately I made a commit without proper testing and it broke the `edit-config` feature completely. Should be fixed now with 0.6.4.

[2020-03-07 16:46] archont00 opened #98 "Problems with multiple date_format variants in a single CSV"
Hi,
I am struggling with date_format. My bank uses:
[code]
This used to work until recently as follows:
[code]
But not anymore - the parser (python 3.8) does not consider the date field as string anymore and tries to parse the date_user before I can do so (and fails due to a wrong format_date).

Any help?

[2020-03-07 19:39] kedder commented on #98
Hi @archont00,

Do I understand the issue correctly? It worked previously because the date would be parsed with the wrong format without the error by `super().parse_record()` and you would just re-parse it later with the right format?

If so, I'd recommend you to remove `date_user` from your `mappings`, so these fields would not be converted automatically by `super().pare_record(line)`, and just d

[2020-03-08 07:25] archont00 commented on #98
Hi @kedder,
As simple as that - it works now. Thanks!

[2020-03-08 07:25] #98 closed

[2020-03-16 10:14] gpaulissen opened #102 "The DTEND tag in the OFX should be exclusive but is calculated inclusive"
The OFX 2.2 specifications on page 87 mention this:

•<DTEND> is the date and time that, if used by the client as the next requested <DTSTART>, it would pick up exactly where the current response left off. It is the exclusive date and time in history where the server stopped looking for information, based on the request <DTEND> rules.

So DTEND is an **exclusive** date.

The code in ofx.py:

[2020-03-16 10:31] gpaulissen opened #103 "The DTASOF tag in the OFX should be exclusive but is calculated inclusive"
See also #102 .

The code in ofx.py:

        self.buildDateTime("DTASOF", self.statement.end_date, False)

Another discussion on [GitHub](https://github.com/odoo/odoo/issues/3003) mentions this:

[2020-03-16 15:43] kedder commented on #102
Hmm, I don't really understand the problem. What is the difference between "inclusive" and "exclusive" dates?

`recalculate_balance` attempts to calculate the account balance at the start and end of statement' period in case this information is not provided explicitly in the original data source. Can you given an example when it doesn't do what you would expect?

[2020-11-16 08:23] zeldigas opened #113 "Support rendering ORIGCURRENCY section in statement line"
OFX standard supports for statement line to provide information about original currency: it's iso code and conversion rate. See https://www.ofx.org/downloads/OFX%202.2.pdf, page 106 (110 in pdf numbering) for details.

Would be great for ofxstatment to provide support for this element so that plugins can implement this, if source files support this kind of information

[2020-11-16 08:30] kedder commented on #113
This makes sense, shouldn't be difficult to add respective fields. Thanks for pointers.

[2020-11-16 09:18] zeldigas commented on #87
@ecorini just create PR that adds your plugin to readme. It's as simple as https://github.com/kedder/ofxstatement/pull/112

[2020-11-16 09:20] zeldigas commented on #113
Do you need help with it? I don't want to commit for fast PR, but probably can do contribution withing 2-3 weeks

[2020-11-16 09:39] kedder commented on #113
I'll try to do that this evening, shouldn't be a big deal (famous last words).

[2020-11-16 09:41] kedder commented on #87
I missed this issue completely. Going to add it to the readme. Sorry for slight delay, @ecorini.

[2020-11-16 19:51] #87 closed

[2020-11-17 21:06] kedder commented on #113
@zeldigas, does #114 look good to you? Is that what you expect?

[2020-11-17 21:35] zeldigas commented on #113
Yep, looks good. As an extra - would be nice to have updated docs for plugin authors if you have such. Especially some tip about backward compatible plugin implementation that can work with both versions < 0.7.2 and >=0.7.2 and add currency info conditionally.

[2020-11-17 21:41] kedder commented on #113
AFAICT, that change is backwards compatible. If plugin does not provide the currency, it will simply not appear in the generated OFX.

[2020-11-18 06:14] zeldigas commented on #113
I understand, but I mean reverse case - as a plugin author I'd like to support this new feature when assembling statement line but at the same time be backward compatible with older ofxstatement versions. I understand that it will be achievable with some try/except block that checks for new class presence, just thought that if you have some plugin dev guide it's worth adding sample there.

[2020-11-18 06:45] kedder commented on #113
Ah, I see what you mean - good point. Unfortunately there is no docs of this kind exist besides the README of [ofxstatement-sample](https://github.com/kedder/ofxstatement-sample), but at least remark in the comments for these attributes would help a bit. Proibably we need to grow more formal docs at some point.

[2020-11-18 20:06] #113 closed

[2020-11-18 20:07] kedder commented on #113
@zeldigas do you want a new release?

[2020-11-18 20:28] zeldigas commented on #113
No rush for me. I feel that I'll be able to play with this new feature only on this weekend, not earlier

[2021-05-03 15:43] darkms opened #128 "Support for investment transactions"
Hi, thanks for this awesome project!

Just wanted to let you know that I've implemented support for investment transactions rendered to OFX in [my fork](https://github.com/kedder/ofxstatement/compare/master...darkms:invest-transactions) ([exporter plugin](https://github.com/gerasiov/ofxstatement-russian/compare/master...darkms:support-tinkoff-investments-broker)). The output OFX works more or less

[2021-05-03 18:03] kedder commented on #128
Hi @darkms! I think this feature makes sense, fits in the scope of `ofxstatement` and I welcome the pull request :)

One thing I suggest is to create another sample ofx file to test investment transactions instead of modifying the existing one (and writing a separate test for investment transactions). I find it easier to debug isolated tests when things break.

[2021-05-04 14:10] darkms commented on #128
Thx @kedder, made a few changes as you've advised and raised a PR #129

[2021-05-07 05:19] SDaron opened #131 "New plugin for Belgian Bank NewB"
I've wroted a plugin for the new belgian cooperative bank newB.
https://github.com/SDaron/ofxstatement-be-newb
To be added on the known plugin list.

[2021-05-10 21:44] #128 closed

[2021-05-11 17:42] KayTaneJupiter opened #132 "Link to ofxstatement-paypal is 404"
Link to ofxstatement-paypal in "Known Plugins" is 404. You probably want https://github.com/gerasiov/ofxstatement-paypal

[2021-05-22 13:41] #131 closed

[2021-05-22 13:43] #132 closed

[2021-09-03 00:21] BIZ4Africa commented on #63
+1 on  this request.
I use Odoo accounting software, it rejects OFX from ofxstatement based on this issue.
I always need "sed" the ouput file from ofxstatement to make it acceptable.

[2021-09-03 06:03] kedder commented on #63
@BIZ4Africa interesting. Can you share your sed script?

[2021-09-03 21:11] #63 closed

[2021-09-06 05:59] kedder commented on #63
Released with `ofxstatement-0.8.0`

[2021-12-28 13:52] pianoslum opened #154 "0.8.0 not listed under 'releases'"
See https://github.com/kedder/ofxstatement/releases
0.8.0 is not listed here, but is when clicking on "tags"

[2022-03-20 22:08] kosciCZ opened #167 "Equabank (CZ) support"
Hey, I found ofxstatement pretty handy, I used some of the user submitted plugins, which worked great, but there was an option missing for one of my banks. Hence, I'd like to submit it for consideration to be added in the pluggin section. Here's the repository [kosciCZ/ofxstatement-equabankcz](https://github.com/kosciCZ/ofxstatement-equabankcz).

Let me know if you're okay with this, and I'll subm

[2022-03-20 22:10] kedder commented on #167
Hi @kosciCZ, thanks, every plugin is welcomed! Feel free to submit a PR for README with the link to it!

[2022-03-20 22:25] #167 closed

[2022-08-30 09:20] ssipos90 opened #182 "Any new release?"

[2022-11-19 12:31] kjellmoens opened #194 "How to build & install your own plugin"
Hi,

How do you build & install your own plugin ?

[2022-11-20 13:04] kedder commented on #194
Hi @kjellmoens, take a look at https://github.com/kedder/ofxstatement-sample